@font-face {
  font-family: "Flow Circular";
  src: url("/assets/flow-typeface/Circular/fonts/webfonts/FlowCircular-Regular.woff2");
}

/* <i> elements are often used by icon fonts, so we try to avoid obfuscating a
 * couple of those. */
*:not(#super-specific-selector-to-override-important.super-specific-class-to-override-important):not(i.icon):not(i.fa):not(i.fab):not(i.fas):not(i.fad):not(i.far):not(i.fal):not(i[class^=flaticon-]) {
  font-family: "Flow Circular" !important;
}

/* Images with non-empy alt text probably have discernible text; blur those. */
img[alt]:not([alt=""]) {
  filter: contrast(90%) blur(10px);
}
